# Introduction to Scikit-Learn

This notebook demonstrates some of the most useful functions of the Scikit-Learn library.

What we are going to cover:

0. An end-to-end Scikit-Learn workflow
1. Getting the data ready
2. Cooose the right estimateor/algorithm for our problems
3. Fit the model/algrorithm and use it to make predictions on our data
4. Evaluating a model
5. Improve a model
6. Save and load a trained model
7. Putting it all together

In [4]:
# 1. Get the data ready

import pandas as pd
heart_disease = pd.read_csv("data\heart-disease.csv")
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [5]:
# Create X (feature matrix)
X = heart_disease.drop("target", axis=1)

# Create Y (labels)
y = heart_disease["target"]

In [7]:
# 2. Choose the right model and hyperparameters (ie k, branches, layers, etc)
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier(n_estimators=100)

# Keep default hyperparams
clf.get_params()

In [11]:
import numpy as np

# 3. Fit the model to the training data
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

clf.fit(X_train, y_train);

y_preds = clf.predict(X_test)
y_preds

array([0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1,
       0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0], dtype=int64)

In [12]:
# 4. Evaluate the model on the training and test data
clf.score(X_train, y_train)

1.0

In [13]:
clf.score(X_test, y_test)

0.8524590163934426

In [14]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print(classification_report(y_test, y_preds))

              precision    recall  f1-score   support

           0       0.88      0.78      0.82        27
           1       0.84      0.91      0.87        34

    accuracy                           0.85        61
   macro avg       0.86      0.84      0.85        61
weighted avg       0.85      0.85      0.85        61

In [15]:
confusion_matrix(y_test, y_preds)

array([[21,  6],
       [ 3, 31]], dtype=int64)

In [16]:
accuracy_score(y_test, y_preds)

0.8524590163934426

In [19]:
# 5. Improve a model
# Try different amount of n_estimators

np.random.seed(42)
for i in range (10, 100, 10):
    print(f"Trying model with {i} estimators...")
    clf = RandomForestClassifier(n_estimators=i).fit(X_train, y_train)
    print(f"Model accuracy on test set: {clf.score(X_test, y_test) * 100:.2f}")

Trying model with 10 estimators...
Model accuracy on test set: 80.33
Trying model with 20 estimators...
Model accuracy on test set: 83.61
Trying model with 30 estimators...
Model accuracy on test set: 88.52
Trying model with 40 estimators...
Model accuracy on test set: 83.61
Trying model with 50 estimators...
Model accuracy on test set: 83.61
Trying model with 60 estimators...
Model accuracy on test set: 85.25
Trying model with 70 estimators...
Model accuracy on test set: 88.52
Trying model with 80 estimators...
Model accuracy on test set: 88.52
Trying model with 90 estimators...
Model accuracy on test set: 91.80

In [20]:
# 6. Save a m,odel and load it
import pickle
pickle.dump(clf, open("random_forest_model_1.pkl", "wb"))

In [22]:
loaded_model = pickle.load(open("random_forest_model_1.pkl", "rb"))
loaded_model.score(X_test, y_test)

0.9180327868852459

The following sections will dive into each of the main steps above.

## 1. Getting Data Ready for Machine Learning

Three main steps:
    
    1. Split the data into features (X) and labels (y)
    2. Filling (also called imputing) or disregarding missing values
    3. Converting non-numerical values to numerical values (AKA Feature Encoding)

In [23]:
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [25]:
X = heart_disease.drop("target", axis=1)
X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [26]:
y = heart_disease["target"]
y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

In [27]:
# Split the data into training and test sets
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [28]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((242, 13), (61, 13), (242,), (61,))

In [29]:
# 1.1 Convert the data to numbers

car_sales = pd.read_csv("data/car_sales.csv")
car_sales.head()

     Make Colour  Odometer (KM)  Doors        Price  Unnamed: 5
0  Toyota  White         150043      4   $4,000.00          NaN
1   Honda    Red          87899      4   $5,000.00          NaN
2  Toyota   Blue          32549      3   $7,000.00          NaN
3     BMW  Black          11179      5  $22,000.00          NaN
4  Nissan  White         213095      4   $3,500.00          NaN

In [55]:
X = car_sales.drop("Price", axis=1)
X = X.drop("Unnamed: 5", axis=1)
y = car_sales["Price"].str.replace(r"[$.,]", "", regex=True).astype(int)

y.head()

0     400000
1     500000
2     700000
3    2200000
4     350000
Name: Price, dtype: int32

In [56]:
# Turn categories into numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ["Make", "Colour", "Doors"]
one_hot = OneHotEncoder()
transformer = ColumnTransformer([("one_hot", one_hot, categorical_features)], remainder="passthrough")

transformed_X = transformer.fit_transform(X)
df_transformed_X = pd.DataFrame(transformed_X)
df_transformed_X

    0    1    2    3    4    5    6    7    8    9    10   11        12
0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  150043.0
1  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  1.0  0.0   87899.0
2  0.0  0.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0   32549.0
3  1.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0   11179.0
4  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  213095.0
5  0.0  0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0   99213.0
6  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0   45698.0
7  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0   54738.0
8  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   60000.0
9  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   31600.0

In [34]:
dummies = pd.get_dummies(car_sales[["Make", "Colour", "Doors"]])
dummies

,Doors,Make_BMW,Make_Honda,Make_Nissan,Make_Toyota,Colour_Black,Colour_Blue,Colour_Green,Colour_Red,Colour_White
0,4,0,0,0,1,0,0,0,0,1
1,4,0,1,0,0,0,0,0,1,0
2,3,0,0,0,1,0,1,0,0,0
3,5,1,0,0,0,1,0,0,0,0
4,4,0,0,1,0,0,0,0,0,1
5,4,0,0,0,1,0,0,1,0,0
6,4,0,1,0,0,0,1,0,0,0
7,4,0,1,0,0,0,1,0,0,0
8,4,0,0,0,1,0,0,0,0,1
9,4,0,0,1,0,0,0,0,0,1

In [71]:
# Refit model
from sklearn.ensemble import RandomForestRegressor

np.random.seed(4566)
X_train, X_test, y_train, y_test = train_test_split(df_transformed_X, y, test_size=0.2)

clf = RandomForestRegressor()

clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.5248683012486992

## 1.2 Handling Missing Values

    1. Fill them with some value (AKA Imputation).
    2. Remove the samples with missing values.

In [73]:
# Import car sales missing data
car_missing = pd.read_csv("./data/car-sales-missing-data.csv")
car_missing.head()

     Make Colour  Odometer  Doors    Price
0  Toyota  White  150043.0    4.0   $4,000
1   Honda    Red       NaN    4.0   $5,000
2  Toyota   Blue       NaN    3.0   $7,000
3     BMW    NaN   11179.0    5.0  $22,000
4  Nissan  White  213095.0    4.0   $3,500

In [74]:
car_missing.isna().sum()

Make         3
Colour       5
Odometer    13
Doors        3
Price        7
dtype: int64

### Option 1: Fill missing data with pandas

In [83]:
# Fill the "Make" column
car_missing["Make"].fillna("missing", inplace=True)

# Fill the "Colour" column
car_missing["Colour"].fillna("missing", inplace=True)

# Fill the "Odometer" column
car_missing["Odometer"].fillna(car_missing["Odometer"].mean(), inplace=True)

# Fill the "Doors" column
car_missing["Doors"].fillna(4, inplace=True)

car_missing.isna().sum()

Make        0
Colour      0
Odometer    0
Doors       0
Price       7
dtype: int64

In [84]:
# Remove rows with missing price (y) value
car_missing.dropna(inplace=True)
car_missing.isna().sum()

Make        0
Colour      0
Odometer    0
Doors       0
Price       0
dtype: int64

In [85]:
# Create X and y

X = car_missing.drop("Price", axis=1)
y = car_missing["Price"].str.replace(r"[$,.]", "").astype(int)

# Turn categories into numbers
categorical_features = ["Make", "Colour", "Doors"]
one_hot = OneHotEncoder()
transformer = ColumnTransformer([("one_hot", one_hot, categorical_features)], remainder="passthrough")

transformed_X = transformer.fit_transform(X)
df_transformed_X = pd.DataFrame(transformed_X)
df_transformed_X

C:\Users\jtass\AppData\Local\Temp\ipykernel_2712\782877092.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  y = car_missing["Price"].str.replace(r"[$,.]", "").astype(int)

                                                    0
0     (0, 3)\t1.0\n  (0, 9)\t1.0\n  (0, 12)\t1.0\n...
1     (0, 1)\t1.0\n  (0, 8)\t1.0\n  (0, 12)\t1.0\n...
2     (0, 3)\t1.0\n  (0, 6)\t1.0\n  (0, 11)\t1.0\n...
3     (0, 0)\t1.0\n  (0, 10)\t1.0\n  (0, 13)\t1.0\...
4     (0, 2)\t1.0\n  (0, 9)\t1.0\n  (0, 12)\t1.0\n...
5     (0, 3)\t1.0\n  (0, 7)\t1.0\n  (0, 12)\t1.0\n...
6     (0, 4)\t1.0\n  (0, 9)\t1.0\n  (0, 12)\t1.0\n...
7     (0, 3)\t1.0\n  (0, 6)\t1.0\n  (0, 11)\t1.0\n...
8     (0, 0)\t1.0\n  (0, 5)\t1.0\n  (0, 13)\t1.0\n...
9     (0, 2)\t1.0\n  (0, 9)\t1.0\n  (0, 12)\t1.0\n...
10    (0, 3)\t1.0\n  (0, 7)\t1.0\n  (0, 12)\t1.0\n...
11    (0, 1)\t1.0\n  (0, 10)\t1.0\n  (0, 12)\t1.0\...
12    (0, 4)\t1.0\n  (0, 9)\t1.0\n  (0, 12)\t1.0\n...
13    (0, 3)\t1.0\n  (0, 6)\t1.0\n  (0, 11)\t1.0\n...
14    (0, 0)\t1.0\n  (0, 5)\t1.0\n  (0, 13)\t1.0\n...
15    (0, 2)\t1.0\n  (0, 10)\t1.0\n  (0, 12)\t1.0\...
16    (0, 3)\t1.0\n  (0, 7)\t1.0\n  (0, 12)\t1.0\n...
17    (0, 1)\t1.0\n  (0, 10)\t1.0\n  (0, 12)\t1.0\...
18    (0, 4)\t1.0\n  (0, 9)\t1.0\n  (0, 12)\t1.0\n...

### Option 2: Fill missing values with sklearn

In [123]:
car_sales_missing = pd.read_csv("./data/car-sales-missing-data.csv")

car_sales_missing.isna().sum()

Make         3
Colour       5
Odometer    13
Doors        3
Price        7
dtype: int64

In [124]:
# Drop the rows with no labels
car_sales_missing.dropna(subset=["Price"], inplace=True)
car_sales_missing.isna().sum()

Make        3
Colour      4
Odometer    9
Doors       0
Price       0
dtype: int64

In [130]:
# Split into X and y
X = car_sales_missing.drop("Price", axis=1)
y = car_sales_missing["Price"].str.replace(r"[$,.]", "").astype(int)

C:\Users\jtass\AppData\Local\Temp\ipykernel_2712\3104987663.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  y = car_sales_missing["Price"].str.replace(r"[$,.]", "").astype(int)

In [131]:
# Fill missing values with Scikit-Learn
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

# Fill categorical values with 'missing' & numerical values with mean
cat_imputer = SimpleImputer(strategy="constant", fill_value="missing")
door_imputer = SimpleImputer(strategy="constant", fill_value=4)
num_imputer = SimpleImputer(strategy="mean")

# Define columns
cat_features = ["Make", "Colour"]
door_feature = ["Doors"]          # Separated from other categories since numeric (not for any functional reason)
num_features = ["Odometer"]

# Create an imputer (something that filles missing data)
imputer = ColumnTransformer([
    ("cat_imputer", cat_imputer, cat_features),
    ("door_imputer", door_imputer, door_feature),
    ("num_imputer", num_imputer,num_features)
])

# Transform the data
filled_X = imputer.fit_transform(X)
filled_X

array([['Toyota', 'White', 4.0, 150043.0],
       ['Honda', 'Red', 4.0, 91766.5],
       ['Toyota', 'Blue', 3.0, 91766.5],
       ['BMW', 'missing', 5.0, 11179.0],
       ['Nissan', 'White', 4.0, 213095.0],
       ['Toyota', 'Green', 4.0, 91766.5],
       ['missing', 'White', 4.0, 31600.0],
       ['Toyota', 'Blue', 3.0, 91766.5],
       ['BMW', 'Black', 5.0, 11179.0],
       ['Nissan', 'White', 4.0, 213095.0],
       ['Toyota', 'Green', 4.0, 91766.5],
       ['Honda', 'missing', 4.0, 91766.5],
       ['missing', 'White', 4.0, 31600.0],
       ['Toyota', 'Blue', 3.0, 91766.5],
       ['BMW', 'Black', 5.0, 11179.0],
       ['Nissan', 'missing', 4.0, 213095.0],
       ['Toyota', 'Green', 4.0, 91766.5],
       ['Honda', 'missing', 4.0, 91766.5],
       ['missing', 'White', 4.0, 31600.0]], dtype=object)

In [132]:
car_sales_filled = pd.DataFrame(filled_X, columns=["Make", "Colour", "Doors", "Odometer"])
car_sales_filled.isna().sum()

Make        0
Colour      0
Doors       0
Odometer    0
dtype: int64

In [133]:
# Turn categories into numbers
categorical_features = ["Make", "Colour", "Doors"]
one_hot = OneHotEncoder()
transformer = ColumnTransformer([("one_hot", one_hot, categorical_features)], remainder="passthrough")

transformed_X = transformer.fit_transform(X)
df_transformed_X = pd.DataFrame(transformed_X)
df_transformed_X

                                                    0
0     (0, 3)\t1.0\n  (0, 9)\t1.0\n  (0, 12)\t1.0\n...
1     (0, 1)\t1.0\n  (0, 8)\t1.0\n  (0, 12)\t1.0\n...
2     (0, 3)\t1.0\n  (0, 6)\t1.0\n  (0, 11)\t1.0\n...
3     (0, 0)\t1.0\n  (0, 10)\t1.0\n  (0, 13)\t1.0\...
4     (0, 2)\t1.0\n  (0, 9)\t1.0\n  (0, 12)\t1.0\n...
5     (0, 3)\t1.0\n  (0, 7)\t1.0\n  (0, 12)\t1.0\n...
6     (0, 4)\t1.0\n  (0, 9)\t1.0\n  (0, 12)\t1.0\n...
7     (0, 3)\t1.0\n  (0, 6)\t1.0\n  (0, 11)\t1.0\n...
8     (0, 0)\t1.0\n  (0, 5)\t1.0\n  (0, 13)\t1.0\n...
9     (0, 2)\t1.0\n  (0, 9)\t1.0\n  (0, 12)\t1.0\n...
10    (0, 3)\t1.0\n  (0, 7)\t1.0\n  (0, 12)\t1.0\n...
11    (0, 1)\t1.0\n  (0, 10)\t1.0\n  (0, 12)\t1.0\...
12    (0, 4)\t1.0\n  (0, 9)\t1.0\n  (0, 12)\t1.0\n...
13    (0, 3)\t1.0\n  (0, 6)\t1.0\n  (0, 11)\t1.0\n...
14    (0, 0)\t1.0\n  (0, 5)\t1.0\n  (0, 13)\t1.0\n...
15    (0, 2)\t1.0\n  (0, 10)\t1.0\n  (0, 12)\t1.0\...
16    (0, 3)\t1.0\n  (0, 7)\t1.0\n  (0, 12)\t1.0\n...
17    (0, 1)\t1.0\n  (0, 10)\t1.0\n  (0, 12)\t1.0\...
18    (0, 4)\t1.0\n  (0, 9)\t1.0\n  (0, 12)\t1.0\n...

In [134]:
# Now we've got our data as numbers and filled, time to fit the model
np.random.seed(8)
X_train, X_test, y_train, y_test = train_test_split(df_transformed_X, y, test_size=0.2)

clf = RandomForestRegressor()

clf.fit(X_train, y_train)
clf.score(X_test, y_test)

ValueError: setting an array element with a sequence.

## BONUS: Factor Scaling

In [95]:
# Normalization
from sklearn.preprocessing import MinMaxScaler

scaled_y = np.array(y.copy()).reshape(-1, 1)

scalar = MinMaxScaler()
scalar.fit(scaled_y)

print(scalar.transform(scaled_y))

[[0.02702703]
 [0.08108108]
 [0.18918919]
 [1.        ]
 [0.        ]
 [0.05405405]
 [0.33513514]
 [0.18918919]
 [1.        ]
 [0.        ]
 [0.05405405]
 [0.21621622]
 [0.33513514]
 [0.18918919]
 [1.        ]
 [0.        ]
 [0.05405405]
 [0.21621622]
 [0.33513514]]

In [105]:
# Standardization
from sklearn.preprocessing import StandardScaler

norm_heart_age = np.array(heart_disease["age"].copy()).reshape(-1,1)

scaler = StandardScaler()
scaler.fit(norm_heart_age)

print(scaler.mean_)
print(scaler.transform(norm_heart_age))

[54.36633663]
[[ 0.9521966 ]
 [-1.91531289]
 [-1.47415758]
 [ 0.18017482]
 [ 0.29046364]
 [ 0.29046364]
 [ 0.18017482]
 [-1.1432911 ]
 [-0.26098049]
 [ 0.29046364]
 [-0.04040284]
 [-0.7021358 ]
 [-0.59184697]
 [ 1.06248543]
 [ 0.40075247]
 [-0.48155814]
 [ 0.40075247]
 [ 1.28306308]
 [-1.25357993]
 [ 1.61392956]
 [ 0.5110413 ]
 [-1.1432911 ]
 [-1.36386876]
 [ 0.73161895]
 [-1.58444641]
 [ 1.83450721]
 [ 0.5110413 ]
 [-0.37126932]
 [ 1.17277425]
 [-0.15069166]
 [-1.47415758]
 [ 1.17277425]
 [-1.1432911 ]
 [-0.04040284]
 [-0.37126932]
 [-0.92271345]
 [-0.04040284]
 [-0.04040284]
 [ 1.17277425]
 [ 1.17277425]
 [-0.37126932]
 [-0.7021358 ]
 [-1.03300228]
 [-0.15069166]
 [-1.69473524]
 [-0.26098049]
 [-1.1432911 ]
 [-0.81242462]
 [-0.15069166]
 [-0.15069166]
 [-0.37126932]
 [ 1.28306308]
 [ 0.84190778]
 [-1.1432911 ]
 [ 0.9521966 ]
 [-0.26098049]
 [-0.7021358 ]
 [-1.03300228]
 [-2.24617937]
 [ 0.29046364]
 [ 1.83450721]
 [-0.04040284]
 [-0.26098049]
 [-1.47415758]
 [ 0.40075247]
 [-2.13589054]
 [-0.37126932]
 [-1.03300228]
 [-1.1432911 ]
 [ 0.84190778]
 [-0.04040284]
 [-0.37126932]
 [-2.7976235 ]
 [-0.37126932]
 [-1.25357993]
 [ 0.06988599]
 [-0.37126932]
 [ 0.5110413 ]
 [-0.26098049]
 [ 0.40075247]
 [-1.47415758]
 [-1.03300228]
 [ 0.62133012]
 [-0.26098049]
 [-1.36386876]
 [ 1.39335191]
 [ 1.50364073]
 [-0.92271345]
 [-0.04040284]
 [ 0.40075247]
 [-0.7021358 ]
 [ 0.29046364]
 [-0.26098049]
 [-0.04040284]
 [-1.03300228]
 [-0.15069166]
 [ 0.84190778]
 [-0.26098049]
 [-1.25357993]
 [-0.15069166]
 [-1.36386876]
 [ 0.5110413 ]
 [ 0.9521966 ]
 [-1.36386876]
 [-0.48155814]
 [ 1.50364073]
 [ 1.61392956]
 [-1.03300228]
 [-0.48155814]
 [-0.48155814]
 [ 1.06248543]
 [ 0.29046364]
 [ 1.06248543]
 [-1.25357993]
 [ 0.06988599]
 [-1.91531289]
 [-1.47415758]
 [ 0.18017482]
 [-0.92271345]
 [-0.92271345]
 [ 1.06248543]
 [ 0.5110413 ]
 [-1.47415758]
 [-0.04040284]
 [-1.69473524]
 [-2.24617937]
 [-0.81242462]
 [ 1.39335191]
 [-0.26098049]
 [ 2.16537369]
 [-0.04040284]
 [-0.59184697]
 [-1.36386876]
 [-1.47415758]
 [-1.47415758]
 [-0.59184697]
 [ 0.62133012]
 [ 0.84190778]
 [ 0.29046364]
 [ 1.06248543]
 [-0.37126932]
 [-1.25357993]
 [-1.36386876]
 [ 1.39335191]
 [ 2.38595135]
 [ 1.72421839]
 [-1.1432911 ]
 [ 0.62133012]
 [-1.1432911 ]
 [-1.36386876]
 [ 1.28306308]
 [ 1.83450721]
 [ 1.06248543]
 [ 1.28306308]
 [-1.69473524]
 [ 0.40075247]
 [-0.81242462]
 [-2.13589054]
 [ 0.40075247]
 [ 0.18017482]
 [ 0.18017482]
 [ 0.06988599]
 [-1.47415758]
 [-1.80502406]
 [-1.80502406]
 [ 1.39335191]
 [ 1.39335191]
 [ 0.84190778]
 [ 0.9521966 ]
 [-0.15069166]
 [ 0.18017482]
 [-0.7021358 ]
 [ 0.40075247]
 [ 0.40075247]
 [ 0.62133012]
 [-1.58444641]
 [ 0.62133012]
 [ 1.06248543]
 [-1.25357993]
 [ 0.29046364]
 [ 0.06988599]
 [ 1.17277425]
 [ 0.73161895]
 [ 0.40075247]
 [-0.48155814]
 [-1.1432911 ]
 [ 0.62133012]
 [-0.04040284]
 [-0.48155814]
 [-1.47415758]
 [-0.37126932]
 [ 0.40075247]
 [-0.04040284]
 [ 0.62133012]
 [ 0.62133012]
 [ 0.5110413 ]
 [-0.92271345]
 [ 1.39335191]
 [ 0.84190778]
 [ 1.17277425]
 [-1.1432911 ]
 [ 0.62133012]
 [ 0.40075247]
 [ 1.50364073]
 [ 0.84190778]
 [-0.26098049]
 [ 0.5110413 ]
 [ 0.62133012]
 [-0.59184697]
 [ 0.5110413 ]
 [ 0.29046364]
 [ 0.73161895]
 [-1.69473524]
 [ 0.73161895]
 [ 0.18017482]
 [-1.25357993]
 [ 0.84190778]
 [ 0.9521966 ]
 [ 1.17277425]
 [-0.7021358 ]
 [ 0.9521966 ]
 [ 0.06988599]
 [ 1.17277425]
 [ 0.18017482]
 [-0.04040284]
 [ 1.72421839]
 [ 0.84190778]
 [-2.13589054]
 [ 0.5110413 ]
 [ 1.06248543]
 [-0.81242462]
 [ 0.29046364]
 [ 0.06988599]
 [ 1.06248543]
 [ 1.72421839]
 [-0.37126932]
 [ 0.40075247]
 [ 0.62133012]
 [ 2.49624017]
 [-2.13589054]
 [ 1.72421839]
 [ 0.5110413 ]
 [ 1.06248543]
 [ 0.29046364]
 [ 0.18017482]
 [-0.7021358 ]
 [ 0.18017482]
 [ 1.28306308]
 [-0.04040284]
 [ 1.61392956]
 [-0.37126932]
 [-1.25357993]
 [ 0.84190778]
 [ 1.39335191]
 [ 0.5110413 ]
 [-1.03300228]
 [ 0.40075247]
 [-0.48155814]
 [ 0.84190778]
 [-1.80502406]
 [ 1.28306308]
 [-0.26098049]
 [-0.15069166]
 [ 0.9521966 ]
 [-0.04040284]
 [ 1.28306308]
 [ 0.06988599]
 [-0.59184697]
 [-0.04040284]
 [ 0.18017482]
 [-0.92271345]
 [ 0.73161895]
 [ 1.39335191]
 [ 0.40075247]
 [-0.81242462]
 [-0.26098049]
 [ 0.40075247]
 [ 0.29046364]
 [ 0.40075247]
 [ 0.73161895]
 [-1.36386876]
 [-0.26098049]
 [ 0.5110413 ]
 [-1.58444641]
 [ 0.73161895]
 [-0.92271345]
 [ 0.5110413 ]
 [ 0.29046364]
 [ 0.29046364]
 [ 0.06988599]
 [ 0.73161895]
 [ 0.40075247]
 [ 0.40075247]
 [ 1.39335191]
 [-1.1432911 ]
 [ 0.9521966 ]
 [ 0.9521966 ]
 [ 0.5110413 ]
 [ 0.29046364]
 [-1.03300228]
 [ 1.50364073]
 [ 0.29046364]
 [ 0.29046364]]